<header id="js-header" class="l-header">
  <div class="l-header__inner">
    <div class="l-header__wrap">
      <div class="l-header__left">
        <h1 class="l-header__logo">
          <a href="/">
            BO-AutoBot
          </a>
        </h1>
      </div>
      <div class="l-header__right">
        <div id="js-menu-trigger" class="l-header__menu-btn">
          <span></span>
        </div>
        <div class="l-header__spnav sp sp-nav">
          <ul>
            <li class="l-header__nav--cart">
              <a href="/cart.html">
                カート</a>
            </li>
            <li>
              <a href="/">TOP</a>
            </li>
            <li>
              <a href="/product/bo-autobot.html">BO-AutoBot詳細</a>
            </li>
            <li>
              <a href="/privacypolicy.html">プライバシーポリシー</a>
            </li>
            <li class="l-header__nav--contact">
              <a href="/contact.html">お問い合わせ</a>
            </li>
          </ul>
        </div>
        <ul class="l-header__nav pc">
          <li class="l-header__nav--cart">
            <a href="/cart.html" class="underline"><img src="assets/img/common/icon-cart.svg" alt="カート"></a>
          </li>
          <li class="l-header__nav--contact">
            <a href="/contact.html">お問い合わせ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
